futures; python_version < "3.2"
git+https://github.com/wolfmanstout/gaze-ocr.git#egg=gaze-ocr
git+https://github.com/wolfmanstout/screen-ocr.git#egg=screen-ocr
marionette-driver
odictliteral
selenium
six
yappi
